# Игнорировать папку .vs
.vs/

# Игнорировать каталог bin и obj (обычно они содержат скомпилированные файлы)
bin/
obj/

# Игнорировать файлы конфигурации, специфичные для пользователя
.vsconfig
.vscode/
